<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <style>
         ul {
             list-style-type: none;
             -moz-column-count: 3  ;
             -webkit-column-count: 3;
             column-count: 3;
             column-gap: 0px;
         }
         li {
             line-height: 3.5em;
             border-bottom: 1px solid black;
             overflow: hidden;
             -webkit-column-break-inside: avoid;
         }
        </style>
    </head>
    <body>
        <p> Retrieved: {% now "jS F Y H:i" %} | {{ rsvps|length }} guests.</p>
        <h1> {{ event.name }} </h1>

        <ul>
          {% for rsvp in rsvps %}
              <li> <span style="font-size: 1.6em;">&#9744;</span> {{ rsvp.member.name }} </li>
          {% endfor %}
        </ul>
    </body>
</html>
